*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, Helvetica, sans-serif;
    background: white;
}


/* --- BUTTON --- */
.text-center{
    
}
.button1 {
    font-weight: bold;
    color: white;
    background: black;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 18px 50px;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    margin-top: 5px; /*   avant cétais a 20 */ 
    transition: all 0.3s ease-in 0s;
}
.button1:hover {
    background: white;
    color: black;
}
.button2 {
    font-weight: bold;
    color: white;
    background: black;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 18px 50px;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    margin-top: 20px;
    transition: all 0.3s ease-in 0s;
}
.button2:hover {
    background: green;
    color: black;
}


/* --- LOGO ---- */
.logo{
    margin-top: 65px;
}
.lo{
    margin-top: 60px;      /*   avant cétais a 180 */ 
    margin-bottom: 90px;    /*   avant cétais a 150 */ 
}

/* --- FOOTER ---- */
footer{
    padding-top: 65px;
    padding-bottom: 180px;
    text-align: center;
}
.footerMe {
    background-color: black;
}
.title-footer{
    font-weight: 500;
    font-size: 30px;
    color: white;
}
.subtitle-footer{
    color:white;
    font-weight: 200;

}

/* --- NAV ---- */
nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background: black;
    box-shadow: inset 0px -1px 0px #c5c5c6;
}

.nav-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
}

.nav-icon span {
    font-family: Roboto Flex, sans-serif;
    font-size: 25px;
    margin-left: 10px;
    font-weight: 400;
    color: white;
}


.ceres {
    display: none;
}
.navlinks-container a {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
}
.navlinks-container a:hover {
    text-decoration: none;
    color: white;
}
.navlinks-container a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    background: white;
    transition: transform 0.3s ease-out;
}

.navlinks-container a:hover::after {
    transform: scaleX(1)
}

.nav-authentication {
    margin-left: auto;
}

.sign-btns a {
    font-family: Roboto Flex, sans-serif;
    font-size: 16px;
    min-width: 90px;
    padding: 10px 5px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none; 
    text-decoration: none;
    color: black;
}

.sign-btns a:hover{
    text-decoration:none;
    color: black;
}

.sign-btns a:nth-child(1) {
    border: none;
    background: white;
    text-align: center;
}
.sign-btns a:nth-child(2) {
    border: none;
    background: #92c3eeb7;
    text-align: center;
}
.sign-user {
    display: none;
}

@media (max-width: 900px) {
nav {
    padding: 15px 20px;
    position: relative;
}

.nav-icon {
    order: 2;
    margin: 0 auto;
}

.nav-icon span {
    font-size: 22px;
}

.main-navlinks {
    order: 1;
}
/* --- ceres --- */
.ceres {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background: black;
    align-items: center;
    position: relative;
}
.ceres span {
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
}
.ceres span:nth-child(1),
.ceres span:nth-child(3) {
    transition: transform 0.3s ease-out;
}
.ceres span:nth-child(1) {
    transform: translateY(7px);
}
.ceres span:nth-child(3) {
    transform: translateY(-7px);
}
.ceres.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
}
.ceres.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
}
.ceres.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
}

.navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: black;
    top: 100%;
    left: 0;
    height: 100vh;
    padding: 15px 50px 15px 20px;
    border-right: 1px solid black;
    transform: translate(-100%);
}
.open {
    transform: translate(0%);
}
.navlinks-container a {
    font-size: 18px;
    margin: 10px 0
}

.nav-authentication {
    order: 3;
    margin-left: 0;
}
.sign-btns {
    display: none;
}
.sign-user {
    display: block;
    cursor: pointer;
    border: none;
}
.sign-user img {
    width: 20px;
}

}

@media (max-width: 500px) {
.nav-icon img {
    width: 30px;
}
.nav-icon span {
    font-size: 20px;
}
}
